@layout EmptyLayout
@page "/privacyverklaring"

<h2>Privacyverklaring</h2>
<div id="paragraph0" class="paragraph clearfix">
    <p>Door bepaalde onderdelen van deze site te gebruiken geef je informatie door die toelaat jou als persoon te identificeren. Dit gebeurt enkel voor onze dienstverlening en als jij daar toestemming voor geeft.</p>
    <p>Jouw persoonsgegevens worden verwerkt conform de bepalingen van de Europese Algemene Verordening Gegevensbescherming (AVG) (ook bekend als General Data Protection Regulation of ‘GDPR’).</p>
    <p>Dit privacybeleid is van toepassing op eigen diensten. Wij zijn niet verantwoordelijk voor het privacybeleid van andere sites en bronnen die verbonden zijn met onze website, maar we verwijzen er wel naar zodat je de nodige informatie kan vinden.</p>
    <p>Door gebruik te maken van deze website accepteer je dit privacybeleid.</p>
    <h3>Je hebt altijd het recht om jouw bewaarde persoonsgegevens:</h3>
    <ul>
        <li>op te vragen en in te kijken,</li>
        <li>te (laten) wijzigen,</li>
        <li>te (laten) schrappen.</li>
    </ul>
    <p>Dit kan voor één of meerdere vermeldingen in<em> verschillende databases</em>.</p>
    <p>Je kan ook vragen om<em> uit alle databases</em> te worden verwijderd. Je wordt dan <strong>‘vergeten’</strong> en op geen enkele manier nog gecontacteerd.</p>
    <p>Als je de wijzigingen of schrapping zelf doorvoert, dan is dit meteen effectief. Als je een aanvraag indient om wijzigingen te doen, dan gebeurt dit zo snel mogelijk en ten minste <strong>binnen 30 dagen</strong>.</p>
    <h3>Hoe laat je je rechten gelden?</h3>
    <p>
        Dit kan door door een eenvoudig verzoekt <em>te mailen</em> naar <em>EMAILADDRESS.<br></em>
    </p>
    <p>
        <strong>
            Vermeld steeds:<br>
        </strong>
    </p>
    <ul>
        <li><strong>Voor- en achternaam</strong> van de persoon die je wil schrappen of wijzigen.</li>
        <li><strong>E-mailadres</strong> van de persoon die je wil schrappen of wijzigen.</li>
        <li><strong>Welke wijzigingen</strong> je wil doorvoeren of je wil dat de persoon geschrapt wordt.</li>
    </ul>
    <h3>Zo verwerken we jouw gegevens</h3>
</div>
<div id="paragraph1" class="paragraph clearfix">
    <p>De verwerkingsverantwoordelijke is:</p>
    <ul>
        <li>
            <em>
                naam + naam organisatie<br>
            </em>
        </li>
        <li>
            <em>
                adres<br>
            </em>
        </li>
        <li>
            <em>
                eventueel: telefoonnummer<br>
            </em>
        </li>
        <li><em>e-mailadres</em></li>
    </ul>
    <p>Jouw persoonsgegevens worden verwerkt door volgende gegevensverwerkers (die ook de GDPR-regels naleven).</p>
    <p><em>eigen naam + naam eigen organisatie + </em><em>eventueel: telefoonnummer + </em><em>eventueel: e-mailadres</em></p>

    <h3>Welke gegevens worden verzameld?</h3>
    <p>Enkel die persoonsgegevens worden verzameld die nodig zijn om aan een bepaald deel van onze dienstverlening te voldoen of om jou te kunnen contacteren.</p>
    <p>Dat kan zijn:</p>
    <ul>
        <li>voornaam en naam</li>
        <li>e-mailadres</li>
        <li>telefoonnummer</li>
        <li>bedrijfsnaam</li>
    </ul>
    <p>In formulieren is sommige informatie verplicht, deze gegevens zijn nodig om jou de gewenste dienst te kunnen leveren.</p>
    <p>Andere informatie kan nuttig zijn, maar is niet absoluut nodig. Jij kiest of je hier gegevens invult.</p>
    <p>Op basis van ingevulde gegevens worden <strong>geen</strong> marketingprofielen aangemaakt.</p>
    <h3>Waarom worden jouw persoonsgegevens bijgehouden?</h3>
    <p>Jouw persoonsgegevens worden gebruikt voor een specifiek doel (en alleen maar voor dat doel) met volgende rechtsgronden:</p>
    <ul>
        <li>
            <em>
                Registratie supplier: om AANVULLEN.<br>
            </em>
        </li>
        <li>
            <em>
                Aanmaak of wijziging Dataset: om AANVULLEN<br>
            </em>
        </li>
    </ul>
    <p>Een uitzondering hierop kan enkel met jouw expliciete toestemming.</p>
    <h3>Hoe lang worden je gegevens bijgehouden?</h3>
    <p>Persoonsgegevens worden bewaard zo lang dat nodig is om jou de dienst te verlenen die je zelf activeerde of waarvoor je toestemming gaf. Je persoonsgegevens worden maximaal tot 5 jaar na het laatste gebruik bijgehouden.</p>
</div>
<div id="paragraph2" class="paragraph clearfix">
    <h3>Doorgifte aan derden</h3>
    <p>Je persoonsgegevens worden niet doorgegeven aan derden. Wij maken enkel gebruik van diensten die persoonsgegevens verwerken als we er een verwerkingsovereenkomst&nbsp; mee hebben, als zij nodig zijn voor onze dienstverlening en informatieverstrekking en als zij kunnen instaan voor de beveiligde opslag van persoonsgegevens met garantie voor jouw privacy.</p>
</div>
<div></div>
<p class="paragraph clearfix">Je persoonsgegevens worden enkel doorgegeven als dit nodig is voor het doel waarvoor jij toestemming gaf en de persoonsgegevens verstrekte of als dit wettelijk verplicht en toegestaan is (bijvoorbeeld in het kader van een gerechtelijk onderzoek).</p>

<div id="paragraph4" class="paragraph clearfix">
    <h3>Beveiliging van gegevens</h3>
    <p>De computers en internetverbindingen waarop jouw persoonsgegevens worden bewaard en getransporteerd zijn zo goed mogelijk beveiligd tegen hacken, installeren van malware en ander oneigenlijk gebruik. Op de computers en het netwerk kan enkel worden ingelogd met een gebruikersnaam en paswoord.</p>
</div>
<div></div>
<div class="paragraph clearfix">
    <p>Iedereen die namens &lt;NAAM AANVULLEN&gt; jouw persoonsgegevens kan inkijken of kennen is gebonden aan geheimhouding van die informatie.</p>
    <div>Er wordt een back-up gemaakt van de persoonsgegevens om die te kunnen herstellen bij fysieke of technische incidenten.</div>
    <div></div>
    <div>Alle medewerkers van &lt;NAAM AANVULLEN&gt; zijn geïnformeerd over het belang van de bescherming van persoonsgegevens en privacy.</div>
    <div></div>
</div>
<h3>Cookies</h3>
<div>
    <p>Deze website maakt gebruik van functionele cookies voor authenticatie doeleinden. Dit gebeurt anoniem.</p>
    <p>Kort samengevat: de cookies zorgen ervoor dat je kan aanmelden op de website. Er worden hierbij geen persoonsgegevens verzameld of doorgegeven. De cookies worden niet gebruikt voor marketing of reclame.</p>
</div>
<div></div>
<div id="paragraph7" class="paragraph clearfix">
    <h3>Wijzigingen</h3>
    <p>Deze Privacyverklaring kan wijzigen. Wij passen de regels en voorwaarden aan om jouw privacy zo goed mogelijk te beschermen en op een transparante manier met jouw persoonsgegevens om te gaan. Neem dus geregeld opnieuw een kijkje. De laatste aanpassing dateert van <em>19/11/2021</em></p>
</div>
<div id="extra-info" class="extra-info">
    <h3 class="extra-info">Als het misgaat …</h3>
    <p>We springen zo zorgvuldig mogelijk om met jouw persoonsgegevens en houden die beveiligd bij. Gaat er toch iets mis, dan zullen we jou zo snel mogelijk op de hoogte brengen en er alles aan doen om de schade te beperken.</p>
    <p>Het verspreid geraken van jouw persoonsgegevens door gegevensdiefstal of datalekken kan geen aanleiding geven tot schadeclaims ten aanzien van ons.</p>
    <div class="info">
        <h3>Klachten</h3>
        <p>Heb je ondanks onze voorzorgsmaatregelen toch klachten over ons gebruik van jouw persoonsgegevens, contacteer dan EMAILADRES en we zoeken een oplossing.</p>
        <p>Meer informatie over klachtenprocedures vind je op volgende websites: <a href="http://www.privacycommission.be/nl" target="_blank" rel="noopener">privacycommissie,&nbsp;</a><a href="http://www.vlaamsetoezichtcommissie.be" target="_blank" rel="noopener">Vlaamse Toezichtcommissie.</a></p>
    </div>
</div>
@code {

}
